{
    "extends": "react-app",
    "parser": "babel-eslint",
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": ["error", {"singleQuote": true,"semi": false, "parser": "flow"}]
    }
}
  